<?xml version="1.0" encoding="UTF-8"?>
<included>

  <!--   <property name="DEFAULT_LOG_HOME" value="${user.home}/.temp/logs"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME:-${DEFAULT_LOG_HOME}}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME:-${DEFAULT_LOG_HOME}}/app.log.%d{yyyyMMdd}</fileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d{HH:mm:ss.SSS}] [%-5level] [%logger] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_MEMBER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${MEMBER_LOG_HOME:-${DEFAULT_LOG_HOME}}/member.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${MEMBER_LOG_HOME:-${DEFAULT_LOG_HOME}}/member.log.%d{yyyyMMdd}</fileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%msg%n</pattern>
        </encoder>
    </appender> -->

<!--     <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>[%d{HH:mm:ss.SSS}] [%-5level] [%logger] %msg%n</Pattern>
        </encoder>
    </appender> -->
	<Loggers>
	
		 <!-- Spring boot 의 logback/defaults.xml 참고 -->
	    <logger name="org.apache.catalina.startup.DigesterFactory" level="ERROR" additivity="false"/>
	    <logger name="org.apache.catalina.util.LifecycleBase" level="ERROR" additivity="false"/>
	    <logger name="org.apache.coyote.http11.Http11NioProtocol" level="WARN" additivity="false"/>
	    <logger name="org.apache.sshd.common.util.SecurityUtils" level="WARN" additivity="false"/>
	    <logger name="org.apache.tomcat.util.net.NioSelectorPool" level="WARN" additivity="false"/>
	    <logger name="org.crsh.plugin" level="WARN" additivity="false"/>
	    <logger name="org.crsh.ssh" level="WARN" additivity="false"/>
	    <logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="ERROR" additivity="false"/>
	    <logger name="org.hibernate.validator.internal.util.Version" level="WARN" additivity="false"/>
	
	    <!-- 추가 3rd party -->
	    <logger name="net.sf.jxls" level="OFF" additivity="false"/>
	    <logger name="org.apache.commons.jexl2" level="OFF" additivity="false"/>
	    <logger name="org.apache.http.wire" level="WARN" additivity="false"/>
	    <logger name="org.apache.commons.beanutils" level="WARN" additivity="false"/>
	    <logger name="org.apache.commons.digester.Digester" level="WARN" additivity="false"/>
	
	    <logger name="com.zaxxer.hikari" level="WARN" additivity="false"/>
	
	    <logger name="org.springframework.web.servlet.PageNotFound" level="OFF" additivity="false"/>
	
	</Loggers>

</included>