<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>팝빌 API SDK SpringBoot Example.</title>
  </head>
  <body>
    <div>
      <p>Response</p>
      <fieldset>
        <legend>예금주조회 결과</legend>
        <ul>
          <li>bankCode (기관코드): <span th:text="${AccountInfo.bankCode}"></span></li>
          <li>accountNumber (계좌번호): <span th:text="${AccountInfo.accountNumber}"></span></li>
          <li>accountName (예금주 성명): <span th:text="${AccountInfo.accountName}"></span></li>
          <li>checkDate (확인일시): <span th:text="${AccountInfo.checkDate}"></span></li>
          <li>resultCode (응답코드): <span th:text=" ${AccountInfo.resultCode}"></span></li>
          <li>resultMessage (응답메시지): <span th:text="${AccountInfo.resultMessage}"></span></li>
        </ul>
      </fieldset>
    </div>
  </body>
</html>